* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  padding: 10px;
}

.Grid {
}

.row {
  display: flex;
}

.cell-container {
  flex: 1;
  position: relative;
  display: inline-block;
  width: 10%;
  padding-top: 10%;
  border-color: black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  font-weight: bold;
  background-color: #c5c5c5;
  cursor: default;
  transition: 200ms ease-out;
}

.cell-container:hover::after {
  content: "";
  position: absolute;
  background-color: #ffa;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.cell-container:nth-child(3n) {
  border-right: 0.05em solid black;
}

.cell-container:first-child {
  border-left: 0.1em solid black;
}

.cell-container:last-child {
  border-right: 0.1em solid black;
}

.row:first-child > .cell-container {
  border-top: 0.1em solid black;
}

.row:nth-child(3n) > .cell-container {
  border-bottom: 0.05em solid black;
}

.row:last-child > .cell-container {
  border-bottom: 0.1em solid black;
}

.cell-container.editable {
  font-weight: normal;
  color: black;
  background-color: transparent;
  cursor: pointer;
}

.cell-container.active.editable {
  background-color: #ffb200;
}

.cell-container.active.editable.error {
  color: red;
  background-color: #ffb200;
}

.cell-container.error {
  background-color: #ae1e1e;
  color: white;
}

.cell-container.editable.error {
  background-color: #ff4b4b;
}

.cell-container:focus {
  outline: none;
}

.cell-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex: auto;
  align-items: center;
}

.cell {
  flex: 1;
  display: inline;
  text-align: center;
}

.Controls {
  padding-top: 10px;
}

.Keyboard td {
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
}

.Keyboard td:hover {
  background-color: #dddddd;
  transition: 200ms ease-out;
}

@media screen and (min-width: 35.5em) {
  .Controls {
    padding: 10px;
  }
}

ul.new-game {
  list-style: none;
  padding: 0;
  margin: 1em 0 1em 0.8em;
}

ul.new-game > li {
  padding: 0.2em;
}
